body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4772E1;
}

.form-login {
    flex-basis: 450px;
}

.login-card {
    border-radius: 1.0rem;
}

.login-card .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.login-card .card-footer {
    display: flex;
    justify-content: center;
}

.login-card .forget > a {
    text-decoration: none;
    color: forestgreen;
}

.login-card .forget {
    padding: 1rem;
    justify-content: center;
    text-align: center;
}