body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4772E1;
}

.form-login {
    flex-basis: 450px;
}

.login-card {
    border-radius: 1.2rem;
}

.login-card .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.login-card .card-footer {
    display: flex;
    justify-content: right;
}

.login-card .card-footer > button {
    border: none;
    border-radius: 0.5rem;
}

.card-footer a {
    text-decoration: none;
    justify-content: center;
    
}